.footer-section {
    height: 120px;
    padding: 16px;
    background-color: #121212;
    box-shadow: var(--box-shadow);
}

.footer-section__links {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #444444;
}

.footer-section__links-icon {
    a {
        padding: 8px;
        display: block;
    }
    a img {
        width: 24px;
        filter: brightness(0) invert(1);
    }
}

.footer-section__copyright {
    text-align: center;
    margin-top: 16px;

    p, a {
        color: #FFFFFF;
        font-size: 12px;
    }
}



.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #ffffff;
    width: 18px;
    height: 18px;
    animation: spin 1s linear infinite;
    margin-left: 10px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}